<!DOCTYPE html>
<html>

<head>

    <!-- Scripts -->
    <script src="https://kit.fontawesome.com/cedb998acc.js" crossorigin="anonymous"></script>
    <script src="{{ url_for ('static', filename='scripts/siteScript.js')}}"></script>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link href="{{ url_for ('static', filename='styles/siteStyle.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for ('static', filename='images/OneTrackFavicon.jpeg') }}">

    <!-- Title -->
    <title>
        About | OneTrack
    </title>
</head>

<body>
    <!-- vv Navigation Menu vv -->
    <div class="menu">
        <div class="menuHover">
            <h6 id="menuTog">
                <i class="fa-solid fa-bars" onclick="mobileMode()"></i>
            </h6>
            <!-- vv Desktop Navigation Menu vv -->
            <div id="deskMenuArea">
                <br>
                <h5> <!-- SEARCH -->
                    <i class="fa-solid fa-magnifying-glass" style="color: #7BB5E5;"></i>
                    <form action="/search" method="POST">
                        <input type="text" placeholder="Search.." class="searchItem">
                    </form>
                </h5>
                </br>
                <h6> <!-- HOME -->
                    <a href="/home">
                        <i class="fa-solid fa-house"></i>
                        <a href="/home" class="menuItem">
                            Home
                        </a>
                        <i class="fa-solid fa-chevron-right" id="right"></i>
                    </a>
                </h6>
                <br>
                <h6> <!-- DEPARTURES -->
                    <a href="/departures" accesskey="x">
                        <i class="fa-regular fa-clock"></i>
                        <a href="/departures" accesskey="x" class="menuItem">
                            Departures
                        </a>
                        <i class="fa-solid fa-chevron-right" id="right"></i>
                    </a>
                </h6>
                <br>
                <h6 onclick="mapsClick()"> <!-- MAPS -->
                    <a href="https://www.opentraintimes.com/">
                        <i class="fa-regular fa-map fa-sm"></i>
                        <a href="https://www.opentraintimes.com/" class="menuItem">
                            Maps
                        </a>
                        <i class="fa-solid fa-chevron-right" id="right"></i>
                    </a>
                </h6>
                <br>
                <h6> <!-- TICKETS -->
                    <a href="/planner">
                        <i class="fa-solid fa-ticket"></i>
                        <a href="/planner" class="menuItem">
                            Planner
                        </a>
                        <i class="fa-solid fa-chevron-right" id="right"></i>
                    </a>
                </h6>
                <br>
                <h6> <!-- ACCOUNT -->
                    <a href="/My-OneTrack">
                        <i class="fa-regular fa-user"></i>
                        <a href="/My-OneTrack" class="menuItem">
                            My:OneTrack
                        </a>
                        <i class="fa-solid fa-chevron-right" id="right"></i>
                    </a>
                </h6>
            </div>
            <!-- vv Mobile Navigation Menu vv -->
            <div id="mobileMenuArea">
                <br>
                <h5> <!-- SEARCH -->
                    <i class="fa-solid fa-magnifying-glass" style="color: #7BB5E5;"></i>
                    <form action="/search" method="POST">
                        <input type="text" placeholder="Search.." class="searchItem">
                    </form>
                </h5>
                </br>
                <h6> <!-- HOME -->
                    <a href="/home">
                        <i class="fa-solid fa-house"></i>
                        <a href="/home" class="menuItem">
                            Home
                        </a>
                        <i class="fa-solid fa-chevron-right" id="right"></i>
                    </a>
                </h6>
                <br>
                <h6> <!-- DEPARTURES -->
                    <a href="/departures">
                        <i class="fa-regular fa-clock"></i>
                        <a href="/departures" class="menuItem">
                            Departures
                        </a>
                        <i class="fa-solid fa-chevron-right" id="right"></i>
                    </a>
                </h6>
                <br>
                <h6 onclick="mapsClick()"> <!-- MAPS -->
                    <a href="https://www.opentraintimes.com/">
                        <i class="fa-regular fa-map fa-sm"></i>
                        <a href="https://www.opentraintimes.com/" class="menuItem">
                            Maps
                        </a>
                        <i class="fa-solid fa-chevron-right" id="right"></i>
                    </a>
                </h6>
                <br>
                <h6> <!-- TICKETS -->
                    <a href="/planner">
                        <i class="fa-solid fa-ticket"></i>
                        <a href="/planner" class="menuItem">
                            Planner
                        </a>
                        <i class="fa-solid fa-chevron-right" id="right"></i>
                    </a>
                </h6>
                <br>
                <h6> <!-- ACCOUNT -->
                    <a href="/My-OneTrack">
                        <i class="fa-regular fa-user"></i>
                        <a href="/My-OneTrack" class="menuItem">
                            My:OneTrack
                        </a>
                        <i class="fa-solid fa-chevron-right" id="right"></i>
                    </a>
                </h6>
            </div> 
        </div>
    </div>


    <!-- vv Main Page vv -->

    <!-- vv Header vv -->
    <div class="header">
        <h1 class="one">
            <a href ="/home">
                <img src="{{ url_for ('static', filename='images/OneTrackLogo.png') }}" class="signInHeaderImg">
            </a>
        </h1>
    </div>

    <!-- vv Content vv -->
    <div class="mainContent">
        <br>
        <h1 class="pgTextHead">
            Welcome to <span class="one">One</span><span class="track">Track</span>
        </h1>
        <h2 class="pgTextSubHead">
            About Us
        </h2>
        <h2 class="pgTextMain">
            Welcome to OneTrack, your one-stop destination for all your train time needs!
            <br>
            <br>
            Born out of a passion for efficient travel and a drive to simplify the journey, OneTrack was originally conceived as part of a Non-exam Assessment (NEA) 
            project. What began as a student endeavor has since evolved into a comprehensive platform dedicated to providing accurate, up-to-date train schedules 
            and information.
            <br>
            <br>
            At OneTrack, we understand the importance of reliable transportation. Whether you're a daily commuter, a traveler exploring new destinations, 
            or a curious soul seeking adventure by rail, we're here to streamline your experience. Our commitment lies in delivering timely and precise 
            train schedules, powered by national rail enquiries. We ensure you never miss a connection and always arrive at your destination on time.
            <br>
            <br>
            With user-friendly features and intuitive navigation, OneTrack empowers you to plan your journey effortlessly. From checking departure and arrival 
            times to exploring route options and ticket availability, our platform puts the power of travel planning in your hands. We believe that every journey 
            should be hassle-free, and our mission is to make that a reality for our users.
            <br>
            <br>
            Join us on OneTrack and embark on a seamless travel experience. Whether you're embarking on a daily commute, a weekend getaway, or a 
            cross-country adventure, let us be your guide through the world of railways. Welcome aboard!
        </h2>
        <br>
        <br>
        <h2 class="pgTextSubHead">
            The Team
        </h2>
        <h2 class="pgTextMain">
            ...
        </h2>
        <!-- TODO implement the following:
            Mission Statement: A brief overview of the website's purpose and goals.
            Company/Organization Information: Details about the company or organization behind the website, including its history, values, and any relevant milestones.
            Team Members: Profiles or bios of key team members, including founders, executives, and other contributors.
            Contact Information: Ways for visitors to get in touch with the website's administrators or customer support team, such as email addresses or contact forms.
            FAQs: Answers to frequently asked questions about the website, its content, or its services.
            Press Mentions or Awards: Highlights of any press coverage or awards the website has received.
            Testimonials or User Reviews: Positive feedback from users or customers, if applicable.
            Media Kit: Information for journalists or potential partners, such as logos, branding guidelines, and statistics about the website's audience or reach.
            Affiliations or Partnerships: Information about any partnerships, affiliations, or collaborations the website has with other organizations or businesses.
            Community or User Engagement: Details about how visitors can engage with the website's community, such as forums, comment sections, or user-generated content 
            submissions.
            Support or Help Resources: Links to resources for visitors who need assistance, such as help articles, tutorials, or customer support options.
            Accessibility Information: Details about the website's accessibility features and accommodations for users with disabilities.
            Sponsorship or Advertising Opportunities: Information for potential sponsors or advertisers interested in partnering with the website.
        -->
        <br>
        <br>
        <br>
    </div>


    <!-- vv Footer vv -->
    <footer id="footer">
        <h2 class="ftAtt">
            OneTrack [ALPHA]
        </h2>
        <h1 class="ftTextLink">
            <a href="https://facebook.com" class="ftLink facebook">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://twitter.com" class="ftLink twitter">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="https://discord.gg/32Rhb2j9B3" class="ftLink discord">
                <i class="fa-brands fa-discord"></i>
            </a>
            <a href="https://youtube.com" class="ftLink youtube">
                <i class="fa-brands fa-youtube"></i>
            </a>
            <a href="https://instagram.com" class="ftLink instagram">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://trello.com/b/mh5z3K36/onetrackroadmap" class="ftLink trello">
                <i class="fa-brands fa-trello"></i>
            </a>
        </h1>
        <h2 class="ftAtt">
            <a href="/policies/privacy-policy" class="ftAttBtn">Privacy Policy</a> |
            <a href="/policies/terms-of-use" class="ftAttBtn">Terms of Use</a>
        </h2>
        <h2 class="ftAtt">
            <a href="/about/contact" class="ftAttBtn">Contact us</a>
        </h2>
        <h2 class="ftAttA">
            <a href="/about" class="ftAttBtnA">About</a>
        </h2>
        <h2 class="ftAttA">
            <a href="/careers" class="ftAttBtnA">Careers</a>
        </h2>
        <h2 class="ftAttA">
            <a href="/help" class="ftAttBtnA">Help</a>
        </h2>
        <h2 class="ftAttA">
            <a href="/sitemap" class="ftAttBtnA">Sitemap</a>
        </h2>  
        
        <br>
        <p class="ftImg">
            <!--<img src="{{ url_for ('static', filename='images/RTTLogo.png') }}">-->
            <!--<img src="{{ url_for ('static', filename='images/RDGLogo.png') }}">-->
            <!--<img src="{{ url_for ('static', filename='images/TfLLogo.png') }}">-->
        </p>
    </footer>
</body>

</html>