<!DOCTYPE html>
<html>

<head>

    <!-- Scripts -->
    <script src="https://kit.fontawesome.com/cedb998acc.js" crossorigin="anonymous"></script>
    <script src="{{ url_for ('static', filename='scripts/siteScript.js')}}"></script>
    
    <!-- Metas -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link href="{{ url_for ('static', filename='styles/siteStyle.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{ url_for ('static', filename='images/OneTrackFavicon.jpeg') }}">
    <!-- Title -->
    <title>
        My:OneTrack | OneTrack
    </title>
</head>

<body>
    <!-- vv Main Page vv -->

    <!-- vv Header vv -->
    <div class="signInHeader">
        <h1 class="one">
            <a href ="/home">
                <img src="{{ url_for ('static', filename='images/OneTrackLogo.png') }}" class="signInHeaderImg">
            </a>
        </h1>
    </div>
    <!--TODO: Waiting for init -->
    <!-- vv Content vv -->
    <div class="signInMainContent">
        <br>
        <h1 class="signInPgTextHead">
            Welcome Back! Sign In to My:OneTrack
        </h1>
        <h2 class="signInPgTextMain">
            <p class="errorP">
                <h2 class="accountError">
                    An error occurred signing you in to your account. Check the details you entered are correct.
                </h2>
            </p>
        </h2>
        <h2 class="signInPgTextMain">
            <form action="/signIn" method="POST" class="signIn">
                <input type="text" name="username" placeholder="Username" class="signInAtt">
                <br>
                <br>
                <input type="password" name="password" placeholder="Password" class="signInAtt">
                <br>
                <br>
                <button class="signInBtn" name="btn" type="submit">
                    Sign in
                </button>
            </form>
        </h2>
        <h2 class="create">
            Or <a href="/My-OneTrack/createAccount" class="createBtn">create an account</a>
        </h2>
        <br>
        <h2 class="create">
            <a href="/policies/privacy-policy" class="createBtn">Privacy Policy</a> |
            <a href="/policies/terms-of-use" class="createBtn">Terms of Use</a>
        </h2>
        <br>
    </div>
</body>

</html>