<!DOCTYPE html>
<html>

<head>

    <!-- Scripts -->
    <script src="https://kit.fontawesome.com/cedb998acc.js" crossorigin="anonymous"></script>
    <script src="{{ url_for ('static', filename='scripts/siteScript.js')}}"></script>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link href="{{ url_for ('static', filename='styles/siteStyle.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{ url_for ('static', filename='images/OneTrackFavicon.jpeg') }}">
    <!-- Title -->
    <title>
        Terms of Use | OneTrack
    </title>
</head>

<body>
    <!-- vv Navigation Menu vv -->
    <div class="menu">
        <div class="menuHover">
            <h6 id="menuTog">
                <i class="fa-solid fa-bars" onclick="mobileMode()"></i>
            </h6>
            <!-- vv Desktop Navigation Menu vv -->
            <div id="deskMenuArea">
                <br>
                <h5> <!-- SEARCH -->
                    <i class="fa-solid fa-magnifying-glass" style="color: #7BB5E5;"></i>
                    <form action="/search" method="POST">
                        <input type="text" placeholder="Search.." class="searchItem">
                    </form>
                </h5>
                </br>
                <h6> <!-- HOME -->
                    <a href="/home">
                        <i class="fa-solid fa-house"></i>
                        <a href="/home" class="menuItem">
                            Home
                        </a>
                        <i class="fa-solid fa-chevron-right" id="right"></i>
                    </a>
                </h6>
                <br>
                <h6> <!-- DEPARTURES -->
                    <a href="/departures">
                        <i class="fa-regular fa-clock"></i>
                        <a href="/departures" class="menuItem">
                            Departures
                        </a>
                        <i class="fa-solid fa-chevron-right" id="right"></i>
                    </a>
                </h6>
                <br>
                <h6 onclick="mapsClick()"> <!-- MAPS -->
                    <a href="https://www.opentraintimes.com/">
                        <i class="fa-regular fa-map fa-sm"></i>
                        <a href="https://www.opentraintimes.com/" class="menuItem">
                            Maps
                        </a>
                        <i class="fa-solid fa-chevron-right" id="right"></i>
                    </a>
                </h6>
                <br>
                <h6> <!-- TICKETS -->
                    <a href="/planner">
                        <i class="fa-solid fa-ticket"></i>
                        <a href="/planner" class="menuItem">
                            Planner
                        </a>
                        <i class="fa-solid fa-chevron-right" id="right"></i>
                    </a>
                </h6>
                <br>
                <h6> <!-- ACCOUNT -->
                    <a href="/My-OneTrack">
                        <i class="fa-regular fa-user"></i>
                        <a href="/My-OneTrack" class="menuItem">
                            My:OneTrack
                        </a>
                        <i class="fa-solid fa-chevron-right" id="right"></i>
                    </a>
                </h6>
            </div>
            <!-- vv Mobile Navigation Menu vv -->
            <div id="mobileMenuArea">
                <br>
                <h5> <!-- SEARCH -->
                    <i class="fa-solid fa-magnifying-glass" style="color: #7BB5E5;"></i>
                    <form action="/search" method="POST">
                        <input type="text" placeholder="Search.." class="searchItem">
                    </form>
                </h5>
                </br>
                <h6> <!-- HOME -->
                    <a href="/home">
                        <i class="fa-solid fa-house"></i>
                        <a href="/home" class="menuItem">
                            Home
                        </a>
                        <i class="fa-solid fa-chevron-right" id="right"></i>
                    </a>
                </h6>
                <br>
                <h6> <!-- DEPARTURES -->
                    <a href="/departures">
                        <i class="fa-regular fa-clock"></i>
                        <a href="/departures" class="menuItem">
                            Departures
                        </a>
                        <i class="fa-solid fa-chevron-right" id="right"></i>
                    </a>
                </h6>
                <br>
                <h6 onclick="mapsClick()"> <!-- MAPS -->
                    <a href="https://www.opentraintimes.com/">
                        <i class="fa-regular fa-map fa-sm"></i>
                        <a href="https://www.opentraintimes.com/" class="menuItem">
                            Maps
                        </a>
                        <i class="fa-solid fa-chevron-right" id="right"></i>
                    </a>
                </h6>
                <br>
                <h6> <!-- TICKETS -->
                    <a href="/planner">
                        <i class="fa-solid fa-ticket"></i>
                        <a href="/planner" class="menuItem">
                            Planner
                        </a>
                        <i class="fa-solid fa-chevron-right" id="right"></i>
                    </a>
                </h6>
                <br>
                <h6> <!-- ACCOUNT -->
                    <a href="/My-OneTrack">
                        <i class="fa-regular fa-user"></i>
                        <a href="/My-OneTrack" class="menuItem">
                            My:OneTrack
                        </a>
                        <i class="fa-solid fa-chevron-right" id="right"></i>
                    </a>
                </h6>
            </div>
            
        </div>
    </div>


    <!-- vv Main Page vv -->

    <!-- vv Header vv -->
    <div class="header">
        <h1 class="one">
            <a href ="/home">
                <img src="{{ url_for ('static', filename='images/OneTrackLogo.png') }}" class="signInHeaderImg">
            </a>
        </h1>
    </div>
    <!--TODO: Waiting for init -->
    <!-- vv Content vv -->
    <div class="mainContent, termsMain">
        <h1>OneTrack Terms and Conditions</h1>
    
        <h2 class="termsHead">1. Interpretation and Definitions</h2>
        <p class = "termsP">The following terminology applies to these Terms and Conditions, Privacy Statement, and Disclaimer Notice and any or all 
            Agreements: "Client", "You", and "Your" refer to you, the person accessing this website and accepting the Company's terms and conditions. 
            "The Company", "Ourselves", "We", "Our", and "Us", refer to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves, or either 
            the Client or ourselves. All terms refer to the offer, acceptance, and consideration of payment necessary to undertake the process of our assistance to 
            the Client in the most appropriate manner, whether by formal meetings of a fixed duration, or any other means, for the express purpose of meeting the Client's 
            needs in respect of provision of the Company's stated services/products, in accordance with and subject to, prevailing law of. Any use of the above terminology 
            or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.
        </p>

        <h2 class="termsHead">2. License</h2>
        <p class = "termsP">
            Unless otherwise stated, OneTrack and/or its licensors own the intellectual property rights for all material on OneTrack. 
            All intellectual property rights are reserved. You may access this from OneTrack for your own personal use subjected to restrictions set in these 
            terms and conditions.
        </p>

        <h2 class="termsHead">3. Hyperlinking to our Content</h2>
        <p class = "termsP">The following organizations may link to our website without prior written approval:</p>
        <ul class = "termsUl">
            <li class = "termsLi">Government agencies;</li>
            <li class = "termsLi">Search engines;</li>
            <li class = "termsLi">News organizations;</li>
            <li class = "termsLi">Online directory distributors;</li>
            <li class = "termsLi">System wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising 
                groups which may not hyperlink to our website.</li>
        </ul>
        <p class = "termsP">
            These organizations may link to our home page, to publications or to other website information so long as the link: (a) is not in any 
            way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products and/or services; and (c) fits 
            within the context of the linking party's site.
        </p>

        <h2 class="termsHead">4. Reservation of Rights</h2>
        <p class = "termsP">
            We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately remove all 
            links to our Website upon request. We also reserve the right to amend these terms and conditions and its linking policy at any time. By continuously 
            linking to our Website, you agree to be bound to and follow these linking terms and conditions.
        </p>

        <h2 class="termsHead">5. Removal of links from our website</h2>
        <p class = "termsP">
            If you find any link on our Website that is offensive for any reason, you are free to contact and inform us any moment. We will consider 
            requests to remove links but we are not obligated to or so or to respond to you directly.
        </p>

        <h2 class="termsHead">6. Content Liability</h2>
        <p class = "termsP">
            We shall not be hold responsible for any content that appears on your Website. You agree to protect and defend us against all claims 
            that is rising on your Website. No link(s) should appear on any Website that may be interpreted as libelous, obscene or criminal, or which infringes, 
            otherwise violates, or advocates the infringement or other violation of, any third party rights.
        </p>

        <h2 class="termsHead">7. Your Privacy</h2>
        <p class = "termsP">Please read Privacy Policy.</p>

        <h2 class="termsHead">8. Reservation of Rights</h2>
        <p class = "termsP">
            We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately 
            remove all links to our Website upon request. We also reserve the right to amend these terms and conditions and its linking policy at any time. 
            By continuously linking to our Website, you agree to be bound to and follow these linking terms and conditions.
        </p>

        <h2 class="termsHead">9. Governing Law & Jurisdiction</h2>
        <p class = "termsP">
            These terms will be governed by and interpreted in accordance with the laws of the United Kingdom, and you submit to the non-exclusive 
            jurisdiction of the courts located in the United Kingdom for the resolution of any disputes.
        </p>

        <p class = "termsP">These Terms and Conditions have been generated with the help of the Terms And Conditions Generator.</p>
        <br>
        <br>
    </div>

    <!-- vv Footer vv -->
    <footer id="footer">
        <h2 class="ftAtt">
            OneTrack [ALPHA]
        </h2>
        <h1 class="ftTextLink">
            <a href="https://facebook.com" class="ftLink facebook">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://twitter.com" class="ftLink twitter">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="https://discord.gg/32Rhb2j9B3" class="ftLink discord">
                <i class="fa-brands fa-discord"></i>
            </a>
            <a href="https://youtube.com" class="ftLink youtube">
                <i class="fa-brands fa-youtube"></i>
            </a>
            <a href="https://instagram.com" class="ftLink instagram">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://trello.com/b/mh5z3K36/onetrackroadmap" class="ftLink trello">
                <i class="fa-brands fa-trello"></i>
            </a>
        </h1>
        <h2 class="ftAtt">
            <a href="/policies/privacy-policy" class="ftAttBtn">Privacy Policy</a> |
            <a href="/policies/terms-of-use" class="ftAttBtn">Terms of Use</a>
        </h2>
        <h2 class="ftAtt">
            <a href="/about/contact" class="ftAttBtn">Contact us</a>
        </h2>
        <h2 class="ftAttA">
            <a href="/about" class="ftAttBtnA">About</a>
        </h2>
        <h2 class="ftAttA">
            <a href="/careers" class="ftAttBtnA">Careers</a>
        </h2>
        <h2 class="ftAttA">
            <a href="/help" class="ftAttBtnA">Help</a>
        </h2>
        <h2 class="ftAttA">
            <a href="/sitemap" class="ftAttBtnA">Sitemap</a>
        </h2>  
        
        <br>
        <p class="ftImg">
            <!--<img src="{{ url_for ('static', filename='images/RTTLogo.png') }}">-->
            <!--<img src="{{ url_for ('static', filename='images/RDGLogo.png') }}">-->
            <!--<img src="{{ url_for ('static', filename='images/TfLLogo.png') }}">-->
        </p>
    </footer>
</body>

</html>